<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="top-nav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="form-add-new">
        <fieldset>
            <legend style="margin-left: 10px">Form</legend>
            <div class="input-group">
                <label>
                    Name:
                    <input type="text"/>
                </label>
            </div>
            <div class="input-group">
                <label>
                    Email:
                    <input type="text"/>
                </label>
            </div>
            <div class="input-group">
                <label>
                    City:
                    <input type="text"/>
                </label>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </fieldset>
    </div>
</body>
</html>