<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
<div class="top-nav">
    <a href="/">Home</a>
    <a href="/create">Create User</a>
</div>
<div class="form-add-new">
    <form action="/create-user" method="post">
        <fieldset>
            <legend style="margin-left: 10px">Form Update User</legend>
            <div class="input-group">
                <label>
                    Name:
                    <input type="text" name="name" value="<%= userUpdate.name %>"/>
                </label>
            </div>
            <div class="input-group">
                <label>
                    Email:
                    <input type="text" name="email" value="<%= userUpdate.email %>"/>
                </label>
            </div>
            <div class="input-group">
                <label>
                    City:
                    <input type="text" name="city" value="<%= userUpdate.city %>"/>
                </label>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>